
/* Overall Styles */

a {
    text-decoration: none;
    color:white;
}

a:hover {
    color: whitesmoke;
    font-weight: bold;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-image: linear-gradient(rgb(166, 141, 166), rgb(137, 130, 141));
}
table {
    text-align: left;
    vertical-align: top;
    width: 1100px;
}
h1 {
    font-family: 'Times New Roman', monospace, Times, serif;
}
hr {
    background-color: #020202af;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #e3e0e0;
    height: 10px;
}
#title {
    text-align: center;
    color: whitesmoke;
    text-shadow: 0.5px 0.5px 0.5px #e3e0e0;
    font-style: italic;
}
#hlink {
    text-align: left; 
    padding-top: 30px;
}
footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}

/* Home Page */

#homePage {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}
#banner {
    width: 1100px;
    height: 150px;
    border-radius: 4px;
    opacity: 0.7;
}
header {
    padding-right: 100px;
    text-align: center;
    color: whitesmoke;
    text-shadow: 0.7px 0.7px 0.7px #e3e0e0;
}
#navBar {
    font-size: large;
    color: #f5f5f5f1;
    text-align: center;
    top: 15px;
}
b {
    color: white;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0.7px 0.7px 0.7px #e3e0e0;
}
#main {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    vertical-align: top;
    text-align: center;
    padding-left: 30px;
}
#exterior {
    vertical-align: top;
    padding-top: 50px;
}
#front {
    width: 400px;
    height: 220px;
    border-radius: 20px;
}
#about {
    font-size: medium;
}
#review{
    background-color: #8e6f9254;
    color: #ffffff;
    border-radius: 100px;
    box-shadow: 4px 4px 4px #e3e0e0;
    width: 1000px;
    height: 300px;
    padding-left: 50px;
    padding-right: 50px;
}
blockquote {
    color: black;
}
#hours {
    margin: 0;
    padding-bottom: 5px;
    background-color: rgb(232, 229, 229);
    color: black;
    width: 100%;
}
#time {
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 100%;
    color:#f5f5f5e5;
    text-align: center;
}
#con {
    color:white;
}
#contact {
    width: 1100px;
    color:black;
    text-align: left;
}

/* Survey Page */

#surveyPage {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #b9b9b5;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #ebe8e8;
    padding: 6px;
    height: 1300px;
}
#info {
    text-align: center;
}
#sub {
    font-weight: bold;
    text-align: center;
}
#health {
    float: none;
    text-align: left;
    padding-left: 90px;
}
label {
    width: 200px;
    float:left;
    text-align: right;
    padding-right: 5px 5px 5px;
}
fieldset {
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #e3e0e0;
    padding: 6px;
}

/* Service Page */

#allPage {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
#exp {
    width: 370px;
    height: 220px;
    border-radius: 10px;
}
td {
    vertical-align: top;
}
thead {
    background-color: #6fdced;
    text-align: left;
}
#space {
    padding-left: 30px;
}
#service {
    font-size: large;
}

/* Three Service Pages */

#servicePage {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: medium;
}
#pic {
    width: 500px;
    height: 300px;
    border-radius: 15px;
}
#center {
    text-align: center;
}
#name {
    color: whitesmoke;
    font-size: large;
}
#price {
    text-align: right;
    color: whitesmoke;
    font-size: 0.9em;
}


@media (max-width: 980px) {
    #homePage {
        width: 100%;
    }
    #servicePage {
        width: 100%;
    }
    #surveyPage {
        width: 100%;
    }
    #allPage {
        width: 100%;
    }
    #banner {
        width: 100%;
    }
    #main {
        width: 100%;
    }
    #front {
        width: 100%;
    }
    #pic {
        width: 100%;
    }
    table {
        width: 100%;
    }
    #review{
        width: 100%;
        height: auto;
    }
    #contact {
        width: 100%; 
    }
    
    #contact th, #contact td {
        display: block; 
        text-align:left;
        width: 100%; 
        margin-bottom: 10px; 
    }
  }